body,* {
   font-family: 'Roboto', sans-serif;
   background:#eee;
}
nav {
   display:none;
   clear: both;
   width: 100%;
   background-color: #eee;
}
nav ul {
   margin: 0;
   padding: 0;
}
nav ul li {
   list-style-type: none;
}
nav ul li a {
   display: block;
   text-decoration: none;
   margin: 5px;
   padding: 14px 20px;
   color: navy;
   background-color: #ffba93;
   border-radius: 5px;
}
nav ul li a:hover {
   color:#fff;
   background-color: #f37121;
}
#hamburger{
   float:right;
   padding: 7px 10px;
   margin: 5px;
   color: navy;
   background-color: #ffba93;
   border-radius: 5px;
}
#hamburger:hover{
   color: #fff;
   background-color: #f37121;
}